---
import PointerIcon from '../assets/pointer.svg';
import MailIcon from '../assets/mail.svg';
import ZeldaIcon from '../assets/zelda.svg';
import GithubIcon from '../assets/github.svg';
import LinkedinIcon from '../assets/linkedin.svg';
---

<footer>
  <ul>
    <li>
      <PointerIcon />
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.google.com/maps/place/Wroc%C5%82aw/"
        >Wrocław, Polska</a
      >
    </li>
    <li>
      <MailIcon />
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="mailto:pawel@webdev.style">pawel@webdev.style</a
      >
    </li>
    <li>
      <ZeldaIcon />
      <a target="_blank" rel="noopener noreferrer" href="https://webdev.style"
        >https://webdev.style</a
      >
    </li>
    <li>
      <GithubIcon />
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/PawelWywiol">@PawelWywiol</a
      >
    </li>
    <li>
      <LinkedinIcon />
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/pawel-wywiol/">li/pawel-wywiol</a
      >
    </li>
  </ul>
</footer>
