---
import Logo from '../assets/logo.svg';
---

<header>
  <ul>
    <li>
      <span>Paweł Wywioł</span>
      <a href="mailto:pawel@webdev.style">pawel@webdev.style</a>
    </li>
    <li>
      <Logo />
    </li>
  </ul>
</header>
