---
import Logo from '../assets/logo.svg';
---

<header>
  <ul>
    <li>
      <span>
        <span>Paweł Wywioł</span>
      </span>
      <span class="flex flex-row items-center gap-2">
        <a href="mailto:pawel@webdev.style">pawel@webdev.style</a>
        /
        <span class="flex flex-row gap-2">
          <a href="https://webdev.style">en</a>
          /
          <a href="https://webdev.style/pl/">pl</a>
        </span>
      </span>
    </li>
    <li>
      <Logo />
    </li>
  </ul>
</header>
